{% extends "CebPhotoBundle::layout.html.twig" %}


{% block cebphoto_body %}

<h1 id="titre">bain</h1>

	<div id="myGallery" class="spacegallery">

		<img src="{{ asset('img/salle00.jpg') }}" alt="test00" />
		<img src="{{ asset('img/salle01.jpg') }}" alt="test01" />
		<img src="{{ asset('img/salle02.jpg') }}" alt="test02" />
		<img src="{{ asset('img/salle03.jpg') }}" alt="test03" />
		<img src="{{ asset('img/salle04.jpg') }}" alt="test04" />
		

	</div>

{% endblock %}